
@*
    UI Layout Services
*@
<section class="features py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="0">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#calendar"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">
                        Hızlı Teslimat
                    </h4>
                    <p>
                        Siparişleriniz en kısa sürede hazırlanır ve güvenle adresinize teslim edilir.
                    </p>
                </div>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="300">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#shopping-bag"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">
                        Mağazadan Teslim Al
                    </h4>
                    <p>
                        Siparişinizi mağazadan teslim alarak zaman kazanın.
                    </p>
                </div>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="600">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#gift"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">
                        Özel Paketleme
                    </h4>
                    <p>
                        Ürünleriniz özenle paketlenir, şık ve güvenli şekilde size ulaştırılır.
                    </p>
                </div>
            </div>

            <div class="col-md-3 text-center" data-aos="fade-in" data-aos-delay="900">
                <div class="py-5">
                    <svg width="38" height="38" viewBox="0 0 24 24">
                        <use xlink:href="#arrow-cycle"></use>
                    </svg>
                    <h4 class="element-title text-capitalize my-3">
                        Ücretsiz İade
                    </h4>
                    <p>
                        Tüm dünyada geçerli ücretsiz ve kolay iade imkânı.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>